:root {
    --header-font: 1.5rem "Trebuchet MS", sans-serif;
    --player-font: 2rem "Trebuchet MS", sans-serif;
    --button-font: 1.5rem "Trebuchet MS", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font: var(--header-font);
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.game-board-container {
    display: flex;
    justify-content: center;
    flex: 3;
}

.game-board {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid black;
}

.player-container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    font: var(--player-font);
}

button[class="change-name-btn"] {
    margin-top: 1em;
    font: var(--button-font);
    width: 60%;
}

.result-container {
    height: 150px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.result-container > * {
    display: flex;
    justify-content: center;
}

button[class*="restart"] {
    font: var(--button-font);
    height: 70%;
}

.winner {
    font: var(--player-font);
    text-align: center;
}

.cell {
    border: 1px solid;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-size: 4rem;
    border: 2px solid black;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
}